<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <appSettings>
    <add key="RedirectUriPort" value="5080"/>
    <add key="CliendId" value="0f1aac157fd64b249ea2b17d63de421a"/>
  </appSettings>
</configuration>
