<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <appSettings>
    <add key="RedirectUriPort" value="INSERT_VALUE_HERE"/>
    <add key="CliendId" value="INSERT_VALUE_HERE"/>
  </appSettings>
</configuration>
